.table-con button:focus {
    outline: none;
}

.tableCard .big-card{
    height : auto !important;
    min-height: auto !important;
}

.tableCard .big-card .chart-wrapper {
    margin-bottom: 0 !important;
}

.tableCard .chart-wrapper > div > div {
    overflow-y: hidden;
}
