
.cardTooltip .tooltipText {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px 10px;
    z-index: 10001;
    position: relative;
    top: -3rem;
}

.cardTooltip:hover .tooltipText {
    visibility: visible;
}