.ErrorContainer {
    color : white;
    text-align: center;
}

.btn:focus {
    outline: none;
}

.btn{
    outline: none;
    margin-top: 2em!important;
}

.warningIcon {
    margin-bottom: 0.3em;
    font-size: 8em!important;
}

.errorMsg{
    display: block;
}